/* 언어설정 */
@charset "UTF-8";

/* 전체설정 */
* {margin: 0;
    padding: 0}




/* 미디어쿼리구간###############################################  */

/* 모바일구간 */
/* 태블릿구간 */
/* 768px 이상일때 ##################### */
@media (min-width:768px){


/* 박스3과 박스 4의 가로정렬 */

.box3 {width: 70%;
    float: left;}
.box4 {width: 30%;
float: left;}

.boxA:after {content: "";
            clear: both;
            display: block;}



}


/* 웹구간 */

/* 1280px이상일때 ################### */
@media (min-width:1280px){
   .box1, .boxA {width: 1190px;
        margin: 0 auto;}



}